.RBCard {
  padding: 20px 0;
}

.RBCard > h3 {
  margin-left: 20px;
}

.Radiobox {
  margin-top: 20px;
}

.Radiobox {
  height: 40px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin-left: 20px;
}

.RBWrapp:hover {
  background: #f1fcff;
}

.RadioboxControll {
  margin-bottom: 20px;
}
